<launch>
	<arg name="image_topic_in" />
	<arg name="name" />
	<arg name="nodelet_manager" default="nodelet_manager" />
	
	<group ns="$(arg name)_enlight" >
		<include file="$(find image_enhancement)/launch/clahe.launch" >	  		
			<arg name="name" 							value="image_enhancement_gamma" />
			<arg name="image_topic_in"					value="$(arg image_topic_in)" />
			<arg name="image_topic_out" 				value="$(arg image_topic_in)_clahe" />
			<arg name="nodelet_manager" 				value="$(arg nodelet_manager)" />
		  	<arg name="cliplimit" 		type="double" 	value="4" />
		</include>
	  
	  	<include file="$(find image_enhancement)/launch/gamma.launch" >
	  		<arg name="name" 					value="image_enhancement_gamma" />
			<arg name="image_topic_in"			value="$(arg image_topic_in)" />
			<arg name="image_topic_out" 		value="$(arg image_topic_in)_gamma" />
			<arg name="nodelet_manager" 		value="$(arg nodelet_manager)" />
			<arg name="gamma"					value="2.2" />
	  	</include>
	  
		<include file="$(find image_enhancement)/launch/brightness.launch" >  	
			<arg name="name" 							value="image_enhancement_brightness" />
			<arg name="image_topic_in"					value="$(arg image_topic_in)" />
			<arg name="image_topic_out" 				value="$(arg image_topic_in)_gamma" />
			<arg name="nodelet_manager" 				value="$(arg nodelet_manager)" />
		  	<arg name="alpha"  			type="double" 	value="4" />
		  	<arg name="beta"   			type="double" 	value="5" />
		</include> 
	</group> 
</launch>